/* BookingCard.module.css */
.bookingTableContainer { 
  display: flex; 
  flex-wrap: wrap;
}

.bookingCard {  
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.bookingCard > * { 
  flex: 1;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
